* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
    height: 528px;
    padding: 10px;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color:greenyellow;
}

#product-overview h1 {
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    background:green;
    padding: 8px 16px;
}

.main-header__brand {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #034f1f;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-header > div {
    display:inline-block;
    vertical-align: middle;
}
