* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
    height: 528px;
    padding: 10px;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color:greenyellow;
}

#product-overview h1 {
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    background:green;
    padding: 8px 16px;
}
