* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.button {
  background: #0e4f1f;
  color: white;
  padding: 8px;
  font: inherit;
  border: 1px solid #0e4f1f;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header__brand {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 22px;
}

.main-header__brand img {
  width: 100%;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #034f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 3px solid;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-header > div {
  display:inline-block;
  vertical-align: middle;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px;
  border-radius: 10px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align:center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #6b6868
}
